streamlit
lmfit
pandas
numpy
matplotlib
streamlit==1.35.0

# Scientific stack
numpy==1.26.4
scipy==1.11.4

# ML and Materials
pymatgen==2023.5.10
matgl==0.8.3
torch==2.2.2

# Optional UI and chemistry tools
stmol==0.1.2
rdkit-pypi==2024.3.1

